.name-h3{
    margin: 0;
    letter-spacing: 2px;
    font-size: 1rem;
    font-weight: 100;
}

.name-h1{
    font-size: 2rem;
    font-weight: 700;
    color: black;
    letter-spacing: 0.5px;
}

.d-block{
    display: block !important;
}

.learn-more{
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.container{
    padding-left: 10% !important;
    padding-right: 10% !important;
}